.spell-list__table-container {
    height: 70vh;
    overflow-y: auto;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(244, 67, 54,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(244, 67, 54,1);
    box-shadow: 0px 0px 5px 0px rgba(244, 67, 54,1);
}
.spell-list__filter-form {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 25px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(244, 67, 54,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(244, 67, 54,1);
    box-shadow: 0px 0px 5px 0px rgba(244, 67, 54,1);


    .spell-list__filter-form__input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        gap: 5px;
    }
    .spell-list__filter-form__button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    margin-bottom: 10px;
    margin-top: 10px;
}