
<t:template name='DraggableCard' xmlns:t="urn:web-app">
    <div class="draggable-card" t:on-load="$model.innerOnLoad(event)">
        <div class="draggable-card__header">
            <div class="draggable-card__title" t:text="$model.title"></div>
            <div class="draggable-card__actions">
                <button
                        class="draggable-card__action"
                        t:on-click="$model.innerOnClose(event)"
                    >Action</button>
            </div>
        </div>
        <div class="draggable-card__content">
            <div class="draggable-card__content-text" t:text="$model.content"></div>
        </div>
    </div>
</t:template>